<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
</head>

<body>
  <div id="root">
    <h1 v-text='title'></h1>
    <div>
      <h2>添加课程</h2>
      <div>
        <label for="">课程名称：</label>
        <input type="text" v-model='courseInfo.name'>
      </div>
      <div>
        <label for="">课程价格：</label>
        <input type="text" v-model='courseInfo.price'>
      </div>
      <input type="button" value="添加课程到列表" @click='addCourseToCourseList'>
      <hr>
    </div>
    <div>
      <h2>课程列表</h2>
      <table>
        <tr>
          <th>课程名称</th>
          <th>课程价格</th>
          <th>操作</th>
        </tr>
        <tr v-for='(item,index) in courseList' :key='item.id'>
          <td v-text='item.name'></td>
          <td v-text='item.price'></td>
          <td><button @click='addCourseToCart(index)'>添加到购物车</button></td>
        </tr>
      </table>
      <hr>
    </div>
    <div>
      <h2>购物车</h2>
      <table>
        <tr>
          <th>勾选</th>
          <th>课程名称</th>
          <th>课程价格</th>
          <th>数量</th>
          <th>价格</th>
        </tr>
        <tr v-for='(item,index) in courseCart' :key='item.id'>
          <td><input type="checkbox" v-model='item.isActive'></td>
          <td>{{item.name}}</td>
          <td v-text='item.price'></td>
          <td><span @click='minus(index)'>-</span>&nbsp;{{item.number}}&nbsp;<span @click='add(index)'>+</span></td>
          <td>{{item.number * item.price}}</td>
        </tr>
        <tr>
          <td>统计</td>
          <td colspan="2">{{this.computeCount()}}/{{this.courseCart.length}}</td>
          <td colspan="2">{{this.couputeTotalPrice()}}</td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '#root',
      data() {
        return {
          title: '课程-购物车',
          courseInfo: {
            name: '',
            price: ''
          },
          courseList: [
            { id: 1, name: 'web全栈', price: 8888 },
            { id: 2, name: 'python人工智能', price: 6666 }
          ],
          courseCart: [],
          selectCount: 0,
          tatalPrice: 0
        }
      },
      methods: {
        addCourseToCourseList() {
          this.courseList.push(this.courseInfo);
          this.courseInfo = {};
        },
        addCourseToCart(index) {
          let item = this.courseList[index];
          console.log('yjw---', item);
          let course = this.courseCart.find(n => n.name === item.name)
          console.log('yjw---course---> ', course)
          if (course) {
            course.number = course.number + 1;
          } else {
            course = {
              ...item,
              number: 1,
              isActive: true
            }
            this.courseCart.push(course);
          }
        },
        minus(index) {
          const course = this.courseCart[index];
          if (course.number > 0) {
            this.courseCart[index].number -= 1;
          } else {
            if(window.confirm('确定要删除所选课程吗?')){
              this.courseCart.splice(index, 1)
            }
          }
        },
        add(index) {
          this.courseCart[index].number += 1;
        },
        computeCount(){
          let n = 0;
          this.courseCart.forEach(element => {
            element.isActive && (n+=1)
          });
          return n;
        },
        couputeTotalPrice(){
          let price = 0;
          this.courseCart.forEach(element => {
            if (element.isActive){
              price = price + element.price * element.number;
            }
          });
          return price;
        }
      },
    })
  </script>
</body>

<h3>这里是将所有功能写在一个文件中,如果将数据从父组件传到子组件中,子组件要改变数据时,可通过 $emit 方法通知父组件进行相应更改</h3>

</html>